body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#container {
  position: relative;
}

.player-container {
  display: inline-block;
  margin: 20px;
}

.player-name {
  font-size: 18px;
}

.player-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  margin-top: 20px;
  /* Adjust margin as needed */
  cursor: pointer;
}

.player-score {
  font-size: 18px;
}

#animal {
  font-size: 24px;
  margin-top: 20px;
}

#timer {
  font-size: 18px;
}